{% extends 'main.html' %} <!-- carrega o conteúdo de main -->

{% load staticfiles %}

{% block content %}
    <nav>
        <h1>Sobre</h1>
    </nav>
    <header>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1224px-NASA_logo.svg.png" alt="Logo">
            <div>
                <a href="">Como funciona</a>
                <a href="">Mastertech</a>
            </div>
        </div>
        <div class="banner"></div>
    </header>
    <section class="sobre">
        <h2>Lorem ipsum</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro reprehenderit harum ullam architecto enim cumque cupiditate neque, quo deserunt asperiores laborum dolores aperiam ipsam, ducimus impedit ratione fugiat mollitia ab?</p>
    </section>
    <section class="areas">
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1224px-NASA_logo.svg.png" alt="Logo1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1224px-NASA_logo.svg.png" alt="Logo2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1224px-NASA_logo.svg.png" alt="Logo3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </section>
    <footer>
        <div>
            <a href="">Lorem</a>
            <a href="">Ipsum</a>
            <a href="">Dolor</a>
        </div>
    </footer>
{% endblock %} 