{% extends 'main.html' %} <!-- chama o arquivo main -->

{% load staticfiles %} <!-- Chama o CSS -->

{% block content %} <!-- insere esse contúdo no espaço lá do main -->

<h1> Teste novo</h1>

<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

<div>
    <img src="https://image.freepik.com/vetores-gratis/vetor-de-papel-de-parede-abstrato-dinamico-padrao_53876-59131.jpg" alt="">

</div>

{% endblock %}