{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    
</head>
<body>
    {% block content %}   <!-- Dentro desse espaço ele vai receber contúdos de outros aquivos html e encaixar aqui, esse main serve somente para configurações base e cabeçalhos -->
    
    
    {% endblock %}
</body>
</html>